<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>寻屋地图</title>
    <meta name="description" content="方便快捷寻屋"/>
    <meta name="kwywords" content="寻屋"/>

    <link href="/static/css/main.css" rel='stylesheet' type='text/css'/>
    <link href="/static/lib/layui/layui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/rent-map.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
</head>
<body>
    <div class="left-region">
        <input id="cityName">
        <div class="r-hd2">

        </div>
        <div class="r-container">

        </div>
    </div>
    <div id="allmp" class="wraper"> 
    </div>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Oi2uijgpb8tILz7Ys9Q48KbmmfHDSpjK"></script>
    <script type="text/javascript">
       //初始化加载地图数据


    </script>
</body>
</html>