
<div th:fragment="footer">
        <div class="footer">
            <div class="wrapper">
                <div class="f-title">
                    <div class="fl">
                        <ul>
                            <li><a href="/" rel="nofollow" target="_blank">首页</a></li>
                            <li><a href="/" rel="nofollow" target="_blank">了解寻屋</a></li>
                            <li><a href="/" rel="nofollow" target="_blank">关于寻屋</a></li>
                            <li><a href="/" rel="nofollow" target="_blank">联系瓦力老师</a></li>
                            <li><a href="/admin/login" rel="nofollow" target="_blank">管理员登录</a></li>
                        </ul>
                    </div>
                    <div class="fr">官方客服 xxxx-xxxx-xxxx</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bottom">
                <div class="copyright fl">Copyright &copy; 2017. 瓦力老师 All rights reserved.</div>
            </div>
</div>