<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>寻屋地图</title>
    <meta name="description" content="方便快捷寻屋"/>
    <meta name="kwywords" content="寻屋"/>

    <link href="/css/main.css" rel='stylesheet' type='text/css'/>
    <link href="/lib/layui/layui.css" rel="stylesheet" type="text/css"/>
    <link href="/css/rent-map.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
</head>
<body>
    <% include common/header.ejs %>
    <div class="left-region">
            <input id="cityEnName" th:value="${city.enName}" type="hidden">
            <input id="cityCnName" th:value="${city.cnName}" hidden="hidden">
            <div class="r-hd2">
                <ol class="order-select">
                    <li class="s-default on" data-bind="lastUpdateTime" data-direction="desc">默认</li>
                    <li class="s-price s-asc" data-bind="price" data-direction="asc">租金低
                        <i class="asc">↑</i>
                    </li>
                    <li class="s-area s-asc" data-bind="area" data-direction="desc">面积大
                        <i class="asc">↓</i></li>
                    <li class="s-new" data-bind="createTime" data-direction="desc">最新</li>
                </ol>
            </div>
            <div class="r-hd3" style="display: block;">
                <div class="r-hd3-content">
                    <ol class="i-card i-card-1">
                        <li class="i-card-name" th:text="${city.CnName}">北京市</li>
                        <li class=""><span th:text="${total}">0</span>套正在出租</li>
                        <li>共<span th:text="${#lists.size(regions)}"></span>个区域</li>
                    </ol>
                </div>
                <div class="r-hd3-bg">
                    <div class="r-hd3-cycle">
                        <div></div>
                    </div>
                    <div class="r-hd3-triangle"></div>
                </div>
            </div>
            <div class="r-container" style="position: relative; overflow: auto;">
                <ul id="house-flow" class="flow-default r-content">
                
                </ul>
            </div>
        </div>
        <div id="allmap" class="wrapper">
        </div>
    </div>
    <% include common/footer.ejs%>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=RSH4a537IO6aLOGL5RxyIxjUKzUymSjl"></script>
    <!-- <script type="text/javascript" src="/js/baidu-map/TextIconOverlay.js"></script>
    <script type="text/javascript" src="/js/baidu-map/MarkerClusterer.js"></script> -->
    <script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>